body,
html {
    padding: 0;
    margin: 0;
    color: #919397;
    font-family: "Roboto";
    font-weight: 200;
    font-size: calc(7px + 2vw);
}

html {
    background-color: black;
}

body {
    padding-bottom: 30%;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

h1,
h4,
h5,
h6 {
    font-weight: 200;
}

h2 {
    font-weight: 400;
    font-size: 1em;
}

h3 {
    font-weight: 300;
}

p {
    font-size: clamp(16px, 1.1rem, 27px);
    font-weight: 300;
    letter-spacing: 0.015em;
    line-height: 1.5em;
    max-width: clamp(45ch, 50em, 90%);
}

img {
    max-width: 100%;
}

nav {
    margin: 1em 0.5em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

nav a,
.project-section a {
    color: #919397;
}

nav h1 {
    padding: 0;
    margin: 0;
}

nav svg {
    font-weight: 200;
    fill: #919397;
}

nav .exhibition-title svg {
    max-width: 30vw;
}

.right-nav {
    display: flex;
    justify-content: center;
}

.right-nav .d {
    font-size: 32.57px;
}

@media (min-width: 50em) {
    nav {
        margin: 0.5em 0.5em 0em 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2em;
        text-align: right;
    }

    nav .right-nav {
        width: 17em;
        justify-content: flex-end;
    }

    nav .right-nav svg {
        width: 90%;
    }


    nav .exhibition-title svg {
        max-width: calc(2em + 5vw);
        margin-left: 0.5em;
    }

    .title-graphic svg {
        margin-top: -0.4em;
    }

}

.title-graphic svg {
    max-height: 82vh;
    background-color: black;
}

.title-graphic .d {
    fill: none;
    stroke: #919397;
    stroke-miterlimit: 10;
}

.project-section {
    display: flex;
    flex-direction: column;
    margin: 4rem 20%;
}

.project-section h2,
.project-section h3 {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}

.project-section h3 {
    text-align: right;
}

.project-image {
    max-width: 100%;
    padding: 0.5rem 0;
}



@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/* project page */
.project-page-nav .left-nav {
    padding-bottom: 0.5em;
}

.project-page-nav .right-nav {
    gap: 2em;
}

@media (min-width: 50em) {
    .project-page-nav {
        font-size: 0.6rem;
        margin: 1em 1em;
    }

    .project-page-nav .right-nav {
        width: 100%;
        justify-content: flex-end;
    }
}

.project-title-ripple {
    display: none;
}

.project-page-inner {
    margin: 1em;
}

.project-title-mobile {
    margin-top: 3em;
}

.project-title-mobile h1 {
    font-weight: 400;
}

.project-title-mobile p {
    font-weight: 300;
}

.project-title-mobile h1,
.project-title-mobile p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0.3em;
}

.vid-container {
    position: relative;
    padding-bottom: 46.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 2em 0;
}

.vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-text {
    flex-wrap: wrap;
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.project-desc {
    flex-basis: 160%;
}

.project-desc,
.artist-bio {
    width: 100%;
}

.artist-bio {
    display: flex;
    align-items: flex-end;
}

@media (min-width: 50em) {
    .project-title-ripple {
        transition: 1s;
        display: inherit;
        opacity: 0.65;
    }

    .mobile-only {
        display: none;
    }

    .visually-hidden-desktop {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .vid-container {
        margin: 0 10%;

    }

    .project-text {
        flex-wrap: nowrap
    }

}

#videoBg {
    margin: 0 auto;
    width: 50vw;
    height: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    z-index: -1;
}